/* =============================================================
CUSTOM BUTTON STYLES
============================================================ */
.button-custom {
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
margin: 25px 5px 5px 0px;
margin: 5px;
}

.btn-custom-one {
background-color: transparent;
color: #fff;
border: 2px solid rgb(40, 141, 203);
}

.btn-custom-one:hover {
background-color: rgb(40, 141, 203);
text-decoration: none;
color: #fff;
}

.btn-custom-two {
color: #fff;
background-color: rgb(40, 141, 203);
border: 2px solid rgb(40, 141, 203);
}

.btn-custom-two:hover {
border: 2px solid rgb(40, 141, 203);
text-decoration: none;
color: #fff;
background-color: transparent;
}

