/* =============================================================
HOME SECTION STYLES
============================================================ */

#home {
text-align: center;
padding-top: 120px;
padding-bottom: 60px;
}

#home .social {
display: block;
margin: 50px 20px;
}

/*Carousel Slider*/

#carousel-slider {
padding: 50px 20px 5px 50px;
}

#carousel-slider h3 {
line-height: 50px;
font-family: 'Oswald', sans-serif;
}

#carousel-slider p {
color: rgb(40, 141, 203);
font-size: 16px;
line-height: 25px;
margin: 25px 20px;
}
