<!--HOME SECTION START-->
<div id="home" >
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
        <div id="carousel-slider" data-ride="carousel" class="carousel slide  animate-in" data-anim-type="fade-in-up">

          <div class="carousel-inner">
            <div class="item active">

              <h3>
                Consectetur adipiscing elit felis dolor felis dolor vitae
              </h3>
              <p>
                Lorem ipsumdolor sitamet, consect adipiscing elit
                Lorem ipsumdolor sitamet, consect adipiscing elit.
                Lorem ipsumdolor sitamet, consect adipiscing elit
                Lorem ipsumdolor sitamet, consect adipiscing elit.
              </p>
            </div>
            <div class="item">
              <h3>
                Lorem ipsumdolor sitamet, consect adipiscing elit
              </h3>
              <p>
                Lorem ipsumdolor sitamet, consect adipiscing elit
                Lorem ipsumdolor sitamet, consect adipiscing elit.
                Lorem ipsumdolor sitamet, consect adipiscing elit
                Lorem ipsumdolor sitamet, consect adipiscing elit.
              </p>
            </div>

          </div>


        </div>


      </div>
    </div>
    <div class="row animate-in" data-anim-type="fade-in-up">
      <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me">


        <p >
          This line is fixed so you can write anything

        </p>
        <div class="social">
          <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-facebook "></i></a>
          <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-twitter"></i></a>
          <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-google-plus "></i></a>
          <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-linkedin "></i></a>
          <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-pinterest "></i></a>
          <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-github "></i></a>
        </div>
        <a href="#services" class=" btn button-custom btn-custom-two">No Services </a>
      </div>
    </div>
  </div>

</div>
<!--HOME SECTION END-->
