<!--MENU SECTION START-->
  <div class="navbar navbar-inverse navbar-fixed-top scroll-me" id="menu-section" >
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">

         <%= link_to "OptiqueDeLaMarne", root_path %>

        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "HOME", root_path %></li>
          <!-- <li><a href="#home">HOME</a></li> -->
          <li><%= link_to "SERVICES", services_path %></li>
          <!-- <li><a href="#pricing">PRICING</a></li> -->
          <li><%= link_to "PRICING", pricing_path %></li>
          <li><a href="#work">WORK</a></li>
          <li><a href="#team">TEAM</a></li>
          <li><a href="#grid">GRID</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </div>

    </div>
  </div>
  <!--MENU SECTION END-->
