<!-- <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p> -->
  <!--HOME SECTION START-->
  <div id="home" >
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
          <div id="carousel-slider" data-ride="carousel" class="carousel slide  animate-in" data-anim-type="fade-in-up">

            <div class="carousel-inner">
              <div class="item active">

                <h3>
                  Consectetur adipiscing elit felis dolor felis dolor vitae
                </h3>
                <p>
                  Lorem ipsumdolor sitamet, consect adipiscing elit
                  Lorem ipsumdolor sitamet, consect adipiscing elit.
                  Lorem ipsumdolor sitamet, consect adipiscing elit
                  Lorem ipsumdolor sitamet, consect adipiscing elit.
                </p>
              </div>
              <div class="item">
                <h3>
                  Lorem ipsumdolor sitamet, consect adipiscing elit
                </h3>
                <p>
                  Lorem ipsumdolor sitamet, consect adipiscing elit
                  Lorem ipsumdolor sitamet, consect adipiscing elit.
                  Lorem ipsumdolor sitamet, consect adipiscing elit
                  Lorem ipsumdolor sitamet, consect adipiscing elit.
                </p>
              </div>

            </div>


          </div>


        </div>
      </div>
      <div class="row animate-in" data-anim-type="fade-in-up">
        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me">


          <p >
            This line is fixed so you can write anything

          </p>
          <div class="social">
            <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-facebook "></i></a>
            <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-twitter"></i></a>
            <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-google-plus "></i></a>
            <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-linkedin "></i></a>
            <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-pinterest "></i></a>
            <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-github "></i></a>
          </div>
          <a href="#services" class=" btn button-custom btn-custom-two">See Service List </a>
        </div>
      </div>
    </div>

  </div>
  <!--HOME SECTION END-->

  <!--PRICING SECTION START-->
  <section id="pricing" >
    <div class="container">
      <div class="row text-center header animate-in" data-anim-type="fade-in-up">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3>Pricing Options</h3>
          <hr />
        </div>
      </div>
      <div class="row pad-bottom animate-in" data-anim-type="fade-in-up">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <div class="row db-padding-btm db-attached">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <div class="light-pricing">
                <div class="price">
                  <sup>$</sup>99
                  <small>per day</small>
                </div>
                <div class="type">
                  BASIC
                </div>
                <ul>

                  <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                  <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                  <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                </ul>
                <div class="pricing-footer">

                  <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <div class="light-pricing popular">
                <div class="price">
                  <sup>$</sup>199
                  <small>per month</small>
                </div>
                <div class="type">
                  MEDIUM
                </div>
                <ul>

                  <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                  <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                  <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                </ul>
                <div class="pricing-footer">

                  <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <div class="light-pricing">
                <div class="price">
                  <sup>$</sup>249
                  <small>per yer</small>
                </div>
                <div class="type">
                  ADVANCE
                </div>
                <ul>

                  <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                  <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                  <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                </ul>
                <div class="pricing-footer">

                  <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <div class="light-pricing">
                <div class="price">
                  <sup>$</sup>599
                  <small>one time</small>
                </div>
                <div class="type">
                  EXTENDED
                </div>
                <ul>

                  <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                  <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                  <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                </ul>
                <div class="pricing-footer">

                  <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row animate-in" data-anim-type="fade-in-up">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <div class="row db-padding-btm db-attached">

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div class="light-pricing ">
                <div class="price">
                  <sup>$</sup>99
                  <small>per day</small>
                </div>
                <div class="type">
                  SMALL
                </div>
                <ul>

                  <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                  <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                  <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                </ul>
                <div class="pricing-footer">

                  <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div class="light-pricing popular">
                <div class="price">
                  <sup>$</sup>159
                  <small>per month</small>
                </div>
                <div class="type">
                  MEDIUM
                </div>
                <ul>

                  <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                  <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                  <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                </ul>
                <div class="pricing-footer">

                  <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div class="light-pricing">
                <div class="price">
                  <sup>$</sup>799
                  <small>per month</small>
                </div>
                <div class="type">
                  ADVANCE
                </div>
                <ul>

                  <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                  <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                  <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                </ul>
                <div class="pricing-footer">

                  <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!--PRIICING SECTION END-->

