<!--PRICING SECTION START-->
<body>
  <div id="banner">
    <section id="pricing" >
      <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Pricing Options</h3>
            <hr />
          </div>
        </div>
       <!--  <div class="row pad-bottom animate-in" data-anim-type="fade-in-up">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <div class="row db-padding-btm db-attached">
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="light-pricing">
                  <div class="price">
                    <sup>$</sup>99
                    <small>per day</small>
                  </div>
                  <div class="type">
                    BASIC
                  </div>
                  <ul>

                    <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                    <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                    <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                  </ul>
                  <div class="pricing-footer">

                    <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="light-pricing popular">
                  <div class="price">
                    <sup>$</sup>199
                    <small>per month</small>
                  </div>
                  <div class="type">
                    MEDIUM
                  </div>
                  <ul>

                    <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                    <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                    <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                  </ul>
                  <div class="pricing-footer">

                    <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="light-pricing">
                  <div class="price">
                    <sup>$</sup>249
                    <small>per yer</small>
                  </div>
                  <div class="type">
                    ADVANCE
                  </div>
                  <ul>

                    <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                    <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                    <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                  </ul>
                  <div class="pricing-footer">

                    <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="light-pricing">
                  <div class="price">
                    <sup>$</sup>599
                    <small>one time</small>
                  </div>
                  <div class="type">
                    EXTENDED
                  </div>
                  <ul>

                    <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                    <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                    <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                  </ul>
                  <div class="pricing-footer">

                    <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <div class="row db-padding-btm db-attached">

              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="light-pricing ">
                  <div class="price">
                    <sup>$</sup>99
                    <small>per day</small>
                  </div>
                  <div class="type">
                    SMALL
                  </div>
                  <ul>

                    <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                    <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                    <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                  </ul>
                  <div class="pricing-footer">

                    <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="light-pricing popular">
                  <div class="price">
                    <sup>$</sup>159
                    <small>per month</small>
                  </div>
                  <div class="type">
                    MEDIUM
                  </div>
                  <ul>

                    <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                    <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                    <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                  </ul>
                  <div class="pricing-footer">

                    <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="light-pricing">
                  <div class="price">
                    <sup>$</sup>799
                    <small>per month</small>
                  </div>
                  <div class="type">
                    ADVANCE
                  </div>
                  <ul>

                    <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                    <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                    <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                  </ul>
                  <div class="pricing-footer">

                    <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!--PRIICING SECTION END-->
  </div>
</body>
