<!--SERVICE SECTION START-->
<body id="bckgrd">
      <div class="container">
    <section id="services" >
        <div class="row text-center header">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animate-in" data-anim-type="fade-in-up">
            <h3>Nos Services</h3>
            <hr />
          </div>
        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="services-wrapper">
              <i class="ion-document"></i>
              <h3>Livraison gratuite</h3>
              Vous ne pouvez pas vous deplacer?

            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="services-wrapper">
              <i class="ion-scissors"></i>
              <h3>Nos tarifs sont affichés</h3>
              Nous vous garantissons des produits et traitements haut de gamme.
              Technologie Freefrom haut de gamme sur vos verres progressifs.
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="services-wrapper">
              <i class="ion-clipboard"></i>
              <h3>Garantie vice de fabrication</h3>
              Morbi mollis lectus et ipsum sollicitudin varius.
              Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="services-wrapper">
              <i class="ion-calendar"></i>
              <h3>Consectetur tellus nec</h3>
              Morbi mollis lectus et ipsum sollicitudin varius.
              Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="services-wrapper">
              <i class="ion-erlenmeyer-flask"></i>
              <h3>Consectetur tellus nec</h3>
              Morbi mollis lectus et ipsum sollicitudin varius.
              Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="services-wrapper">
              <i class="ion-monitor"></i>
              <h3>Consectetur tellus nec</h3>
              Morbi mollis lectus et ipsum sollicitudin varius.
              Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.
            </div>
          </div>
        </div>
      </div>
    </section>
</body>
